<p id="notice"><%= notice %></p>


<% @teams.each do |team| %>

  <%= render(CardComponent.new) do |component| %>
    <% component.with(:title) do %>
      <%= link_to team do %>
        <i class="fas fa-tshirt"></i>
        <%= team.name %>
      <%end%>
      <i class="fa fa-edit"></i>
    <%end%>
    <%component.with(:body) do %>
      <i class="far fa-user"></i>
      Next Scheduled Training at:
      <%= link_to team_training_path(team, team.next_training) do %>
        <%= team.next_training.scheduled_at.strftime("%a %b %d") %>
      <%end%>
    <%end%>
  <%end%>
<%end%>
<%= link_to 'New Team', new_team_path %>

